* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.header-navbar{
  background-color: #5133a5;
}

.header {
  background-color: #8c68c2;
}


.title {
  margin-top: -25px;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer {
  background-color: #cfb8f1;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

